
* {
    box-sizing: border-box;
    }

*::before, *::after {
    box-sizing: border-box;
    }

/*Grid*/

.grid {
    position: relative;
    /*margin: 0 -15px;*/
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    }

.grid__item {
    position: relative;
    /*padding: 0 15px;*/
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    }

.grid._2 {
    }

    .grid._2 > .grid__item {
        width: calc(100% / 2);
        }

.grid._3 {
    }

    .grid._3 > .grid__item {
        width: calc(100% / 3);
        }

.grid._4 {
    }

    .grid._4 > .grid__item {
        width: calc(100% / 4);
        }

.grid._5 {
    }

    .grid._5 > .grid__item {
        width: calc(100% / 5);
        }

.grid._6 {
    }

    .grid._6 > .grid__item {
        width: calc(100% / 6);
        }

.grid._2-1 {
    }

    .grid._2-1 > .grid__item {
        width: calc(100% / 3 * 2);
        }
    
    .grid._2-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 3);
        }

.grid._1-2 {
    }

    .grid._1-2 > .grid__item {
        width: calc(100% / 3);
        }
    
    .grid._1-2 > .grid__item:nth-child(2n) {
        width: calc(100% / 3 * 2);
        }

.grid._3-1 {
    }

    .grid._3-1 > .grid__item {
        width: calc(100% / 4 * 3);
        }
    
    .grid._3-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 4);
        }

.grid._1-3 {
    }

    .grid._1-3 > .grid__item {
        width: calc(100% / 4);
        }
    
    .grid._1-3 > .grid__item:nth-child(2n) {
        width: calc(100% / 4 * 3);
        }

.grid._1-2-1 {
    }

    .grid._1-2-1 > .grid__item {
        width: calc(100% / 2);
        }
    
    .grid._1-2-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 4);
        }
    
    .grid._1-2-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 4);
        }

.grid._4-1 {
    }

    .grid._4-1 > .grid__item {
        width: calc(100% / 5 * 4);
        }
    
    .grid._4-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 5);
        }

.grid._1-4 {
    }

    .grid._1-4 > .grid__item {
        width: calc(100% / 5);
        }
    
    .grid._1-4 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 4);
        }

.grid._1-3-1 {
    }

    .grid._1-3-1 > .grid__item {
        width: calc(100% / 5 * 3);
        }
    
    .grid._1-3-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 5);
        }
    
    .grid._1-3-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 5);
        }

.grid._5-1 {
    }

    .grid._5-1 > .grid__item {
        width: calc(100% / 6 * 5);
        }
    
    .grid._5-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 6);
        }

.grid._1-5 {
    }

    .grid._1-5 > .grid__item {
        width: calc(100% / 6);
        }
    
    .grid._1-5 > .grid__item:nth-child(2n) {
        width: calc(100% / 6 * 5);
        }

.grid._1-4-1 {
    }

    .grid._1-4-1 > .grid__item {
        width: calc(100% / 3 * 2);
        }
    
    .grid._1-4-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 6);
        }
    
    .grid._1-4-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 6);
        }

/*Uncommon sizes*/

.grid._2-3 {
    }

    .grid._2-3 > .grid__item {
        width: calc(100% / 5 * 2);
        }
    
    .grid._2-3 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 3);
        }

.grid._3-2 {
    }

    .grid._3-2 > .grid__item {
        width: calc(100% / 5 * 3);
        }
    
    .grid._3-2 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 2);
        }

.grid._4-5 {
    }

    .grid._4-5 > .grid__item {
        width: calc(100% / 9 * 4);
        }
    
    .grid._4-5 > .grid__item:nth-child(2n) {
        width: calc(100% / 9 * 5);
        }

.grid._5-4 {
    }

    .grid._5-4 > .grid__item {
        width: calc(100% / 9 * 5);
        }
    
    .grid._5-4 > .grid__item:nth-child(2n) {
        width: calc(100% / 9 * 4);
        }

/*Mobile grid*/

@media (max-width: 767px) {
    
    .grid._mobile {
        }
    
        .grid._mobile > .grid__item:nth-child(n) {
            width: 100%;
            }
    
    .grid._mobile-2 {
        }
    
        .grid._mobile-2 > .grid__item:nth-child(n) {
            width: calc(100% / 2);
            }
    
    .grid._mobile-3 {
        }
    
        .grid._mobile-3 > .grid__item:nth-child(n) {
            width: calc(100% / 3);
            }
    
    .grid._mobile-4 {
        }
    
        .grid._mobile-4 > .grid__item:nth-child(n) {
            width: calc(100% / 4);
            }
    
    .grid._mobile-5 {
        }
    
        .grid._mobile-5 > .grid__item:nth-child(n) {
            width: calc(100% / 5);
            }
    
    .grid._mobile-6 {
        }
    
        .grid._mobile-6 > .grid__item:nth-child(n) {
            width: calc(100% / 6);
            }
    
    .grid._mobile-2-1 {
        }
    
        .grid._mobile-2-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
    
        .grid._mobile-2-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 3);
            }
    
    .grid._mobile-1-2 {
        }
    
        .grid._mobile-1-2 > .grid__item {
            width: calc(100% / 3);
            }
        
        .grid._mobile-1-2 > .grid__item:nth-child(2n) {
            width: calc(100% / 3 * 2);
            }
    
    .grid._mobile-3-1 {
        }
    
        .grid._mobile-3-1 > .grid__item {
            width: calc(100% / 4 * 3);
            }
        
        .grid._mobile-3-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 4);
            }
    
    .grid._mobile-1-3 {
        }
    
        .grid._mobile-1-3 > .grid__item {
            width: calc(100% / 4);
            }
        
        .grid._mobile-1-3 > .grid__item:nth-child(2n) {
            width: calc(100% / 4 * 3);
            }
    
    .grid._mobile-1-2-1 {
        }
    
        .grid._mobile-1-2-1 > .grid__item {
            width: calc(100% / 2);
            }
        
        .grid._mobile-1-2-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 4);
            }
        
        .grid._mobile-1-2-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 4);
            }
    
    .grid._mobile-4-1 {
        }
    
        .grid._mobile-4-1 > .grid__item {
            width: calc(100% / 5 * 4);
            }
        
        .grid._mobile-4-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 5);
            }
    
    .grid._mobile-1-4 {
        }
    
        .grid._mobile-1-4 > .grid__item {
            width: calc(100% / 5);
            }
        
        .grid._mobile-1-4 > .grid__item:nth-child(2n) {
            width: calc(100% / 5 * 4);
            }
    
    .grid._mobile-1-3-1 {
        }
    
        .grid._mobile-1-3-1 > .grid__item {
            width: calc(100% / 5 * 3);
            }
        
        .grid._mobile-1-3-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 5);
            }
        
        .grid._mobile-1-3-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 5);
            }
    
    .grid._mobile-5-1 {
        }
    
        .grid._mobile-5-1 > .grid__item {
            width: calc(100% / 6 * 5);
            }
        
        .grid._mobile-5-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 6);
            }
    
    .grid._mobile-1-5 {
        }
    
        .grid._mobile-1-5 > .grid__item {
            width: calc(100% / 6);
            }
        
        .grid._mobile-1-5 > .grid__item:nth-child(2n) {
            width: calc(100% / 6 * 5);
            }
    
    .grid._mobile-1-4-1 {
        }
    
        .grid._mobile-1-4-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        
        .grid._mobile-1-4-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 6);
            }
        
        .grid._mobile-1-4-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 6);
            }
        
    }

/*Features*/

.grid._vertical {
    flex-direction: column;
    }

    .grid._vertical > .grid__item {
        align-self: stretch;
        flex-basis: 50%;
        }


/*Slider*/

.grid._slider {
    flex-wrap: nowrap;
    overflow: hidden;
    }
    .grid._slider > .grid__item {
        margin-left: 0;
        transition: all 0.3s ease;
        }

.control._next,
.control._prev {
    position: absolute;
    top: 50%;
    z-index: 13;
    font-size: 26px;
    cursor: pointer;
    }
.control._next {
    right: 0;
    }
.control._prev {
    left: 0;
    }



